@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

    <form class="searchBox" method="get">
        <input type="search" name="searchTerm" />
        <input class="SBN" type="submit" value="Search By Name" />
    </form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Reviews count: @item.CountOfReviews</div>
        <hr />
    </div>
}
    <div>
        <h2>Food</h2>
        <p><a class="btn btn-default" href="http://localhost:2257/food/Drink/Coca-Cola">Learn more &raquo;</a></p>
    </div>