@model IEnumerable<OdeToFood.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <hr />
    </div>
}
    <div class="col-md-6">
        <h2>Food</h2>
        <p><a class="btn btn-default" href="http://localhost:2257/food/Drink/Coca-Cola">Learn more &raquo;</a></p>
    </div>