body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#222;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    color: lightgreen;
    background-color: black;
}

.review{
    padding: 2px;
    border-bottom: solid 1px white;
    padding-bottom:10px;
}

.review h4{
    color: lightgreen;
    padding:5px;
    background-color:black;
}

.review p{
    font-size: 1rem;
}

.image{
    height:50px;
    margin-right:auto;
    margin-left:auto;
    display:inline;
}

.best {
    background-color: black;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-inverse {
    background-color: black;
    border-color: white;
}